.game-surface{
    background-color: grey;
            width: 900px;
            height: 900px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
}

.temp-label{
    color: black;
    background-color: white;
}

.jewel{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.jewel-pizza{
    background-image: url('/images/png/001-pizza.png');
}

.jewel-beachball{
    background-image: url('/images/png/002-beach-ball.png');
}

.jewel-star{
    background-image: url('/images/png/003-star.png');
}

.jewel-gift{
    background-image: url('/images/png/004-gift.png');
}

.jewel-icecream{
    background-image: url('/images/png/005-ice-cream.png');
}


.jewel-dog{
    background-image: url('/images/png/006-dog.png');
}


.jewel-cat{
    background-image: url('/images/png/007-cat.png');
}