.game-surface{
    background-color: grey;
            width: 900px;
            height: 900px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
}

.temp-label{
    color: black;
    background-color: white;
}

.jewel{
    width: 100%;
    height: 100%;
    background-size: cover;
}

.jewel-pizza{
    background-image: url('/images/svg/001-pizza.svg');
}

.jewel-beachball{
    background-image: url('/images/svg/002-beach-ball.svg');
}

.jewel-star{
    background-image: url('/images/svg/003-star.svg');
}

.jewel-gift{
    background-image: url('/images/svg/004-gift.svg');
}

.jewel-icecream{
    background-image: url('/images/svg/005-ice-cream.svg');
}


.jewel-dog{
    background-image: url('/images/svg/006-dog.svg');
}


.jewel-cat{
    background-image: url('/images/svg/007-cat.svg');
}